// text colors

@mixin color-modifiers {
  @each $name, $hex in $colors {
    &-#{$name} {
      color: $hex !important;
    }
  }
}

.t {
  @include color-modifiers;
}

// background colors

@mixin background-color-modifiers {
  @each $name, $hex in $colors {
    &-#{$name} {
      background-color: $hex !important;
    }
  }
}

.b {
  @include background-color-modifiers;
}

// font-sizes 

@for $i from 1 through 100 {
	$base: 1;
	$fontsize: $base * $i;
	.fs-#{$fontsize} { 
		font-size: $fontsize + 0px !important;
		}
}

@for $i from 3 through 10 {
	$base: 1;
	$fontweight: $base * $i;
	.fw-#{$fontweight} { 
		font-weight: $fontweight * 100;
		}
}

// REGULAR STYLES 

body {
  font-family: 'Roboto', sans-serif; 
  font-size: 15px;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

*::selection {
  background-color: color(primary);
  color: color(white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-top: 1rem;
}

h3 {
  font-size: 1.2em;
  margin-top: 0;
}

h4 {
  font-size: 1em;
}

.header--underlined {
  position: relative;
  text-align: inherit;
  margin-bottom: 46px;
  &::after {
    content: "----------------";
    letter-spacing: -5px;
    color: color(primary);
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    text-align: inherit;
  }
}

ul {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

p,
li {
  font-size: 15px;
  line-height: 1.4;
  position: relative;
}

li {
  padding: 10px 0 0 40px;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 0;
    height: 30px;
    width: 30px;
    background-image: url('../images/hes-pointer.svg');
    background-size: cover;
    background-position: center;
  }
}

strong {
  font-weight: 600;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

img {
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.button-primary, 
.button-secondary, 
.button-tertiary {
  background-color: color(primary);
  color: color(white);
  padding: 0.5rem 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border: 2px solid color(primary);
  transition: all .3s;
  text-align: center;
  &:disabled {
    opacity: 0.3;
  }
}

.button-secondary {
  background-color: transparent;
  border: 2px solid white;
  &:hover, 
  &:active {
    background-color: white;
    color: black;
  }
}

.button-tertiary {
  background-color: transparent;
  border-color: color(primary);
  color: color(primary);
  &:hover, 
  &:active {
    background-color: color(primary);
    color: white;
  }
}

.input-secondary {
  border: none;
  outline: none;
  border-bottom: 1px solid color(texttertiary);
  padding: .5rem;
  padding-left: 0;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  resize: none;
  &:focus {
    border-color: color(primary);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

// ELEMENTY 

.avatar {
  height: 80px;
  width: 80px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid color(primary);
}

.number {
  height: 40px;
  width: 40px;
  background-color: color(primary);
  color: white;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .5rem;
}

.price {
  font-size: 32px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
}

// ANIMATIONS 

.fade-enter-active {
  animation: fade-in 0.4s;
}

.fade-leave-active {
  animation: fade-in 0.4s reverse;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-right-enter-active {
  animation: slide-right 0.4s;
}

.slide-right-leave-active {
  animation: slide-right 0.4s reverse;
}

@keyframes slide-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}