	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/06/2020 08:22
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-mouse:before { content: "\f100"; }
.flaticon-login:before { content: "\f101"; }
.flaticon-book:before { content: "\f102"; }
.flaticon-payment-method:before { content: "\f103"; }
.flaticon-ebook:before { content: "\f104"; }
.flaticon-mind-mapping:before { content: "\f105"; }
.flaticon-stopwatch:before { content: "\f106"; }
.flaticon-dumbbell:before { content: "\f107"; }
.flaticon-bars:before { content: "\f108"; }
.flaticon-delete:before { content: "\f109"; }
.flaticon-left-arrow:before { content: "\f10a"; }
.flaticon-infinity:before { content: "\f10b"; }
.flaticon-locked-padlock:before { content: "\f10c"; }
.flaticon-mobile-phone:before { content: "\f10d"; }
.flaticon-shopping-cart:before { content: "\f10e"; }
.flaticon-down-chevron:before { content: "\f10f"; }
.flaticon-up-chevron:before { content: "\f110"; }
.flaticon-left-chevron:before { content: "\f111"; }
.flaticon-right-chevron:before { content: "\f112"; }
.flaticon-email:before { content: "\f113"; }
.flaticon-map:before { content: "\f114"; }
.flaticon-telephone:before { content: "\f115"; }
.flaticon-facebook:before { content: "\f116"; }
.flaticon-instagram:before { content: "\f117"; }
.flaticon-search:before { content: "\f118"; }